page-home {
.scroll-content{overflow-y:hidden; background: #333}    
.horizontal-scroll{
    
    width:100%;
    height:100%;
    overflow-x:hidden;

ion-card{
    img{
      cursor:pointer;
    }
        float:left;
        width:317px;
        min-height:660px;
 }
    
}

 

  

  
}
